html{
    text-align: center;
    background-color: #f6f8fa;
}
.text-general {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  color: #0f2b46;
}

.source-code-pro {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.code-css{
    text-align: left;
}

.name-country {
  text-align: center;
  font-family: "Source Code Pro", monospace;
}

img {
  width: 300px;
  position: relative;
}

#table-flags th {
  border: 1pt solid #0f2b46;
  text-align: center;
}

#table-flags td {
  border: 1pt solid #0f2b46;
}

#table-flags {
    position: absolute;
   left: 50%;
   margin-left: -600px;
   top: 50%;
   margin-top: -230px;
}

table {
  table-layout: fixed;
  width: 1200px;
  border-collapse: collapse;
  border: 1px solid #0f2b46;
}

